[uwsgi]
uid = {{ user }}
gid = {{ user }}
socket = /home/{{ user }}/uwsgi.sock
stats = /home/{{ user }}/uwsgi-stats.sock
virtualenv = /home/{{ user }}/virt/
master = true
vacuum = true
chmod-socket = 666
processes = 4
buffer-size = 8096
enable-threads = true
single-interpreter = true
wsgi-disable-file-wrapper = true
module = {{ wsgi_module }}:application
{% for key, val in django_environment.items() %}
env = {{key}}={{val}}
{% endfor %}
